<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="IpDataModel" connectionString="metadata=res://*/Data.ModelIPdata.csdl|res://*/Data.ModelIPdata.ssdl|res://*/Data.ModelIPdata.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=admin;database=ipadapters;persistsecurityinfo=True;allowuservariables=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ipadaptersEntities" connectionString="metadata=res://*/Data.ModelIp.csdl|res://*/Data.ModelIp.ssdl|res://*/Data.ModelIp.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=admin;persistsecurityinfo=True;database=ipadapters&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ipadaptersContext" connectionString="metadata=res://*/Data.ModelIPDate.csdl|res://*/Data.ModelIPDate.ssdl|res://*/Data.ModelIPDate.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=admin;persistsecurityinfo=True;database=ipadapters&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ipadapterContext" connectionString="metadata=res://*/Data.ModelIP.csdl|res://*/Data.ModelIP.ssdl|res://*/Data.ModelIP.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=admin;persistsecurityinfo=True;database=ipadapters&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>